#body{
   padding: 0;
   margin: 0;
    font-family: Helvetica;
    
}

/*======== HEADER ========*/
#header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-image: url(images/wood-bg.png);
    background-repeat: repeat-x;
}

#header img{
    display: block;
    margin: auto;
    height: 70%;
    padding-top: 15px;  
}

/*======== TOP-TABS========*/

#tabs-top{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: blueviolet;  
}

#tabs-top a{
    float: left;
    display: block;
    width: 30%;
    height: 35px;
    font-weight: 70;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

#tabs-bottom{
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    
}

#tabs-bottom a{
    float: left;
    display: block;
    width: 30%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: none;
}

/*============ SHOP CARTAGORY =============*/

#shop {
    background    : rgba(125,125,125,0.8);
      width         : 70%;
      height :       : 20px;
      display       : block;
      margin        : auto;
      margin-top    : 12px;
      padding       : 10px;
}

#shop img{
    width : 10%;
    height: auto;
}
#shop a {
    text-decoration: none;
    text-align: left;
    font-family: sans-serif;
    text-shadow: 2px 2px maroon;
}

#shop h3{
    font-size: 40px;
}

#storep{
      background    : rgba(125,195,195,0.8);
      width         : 75%;
      height :       : 20px;
      display       : block;
      margin        : auto;
      margin-top    : 12px;
      padding       : 10px;
}

#storep img{
      width : 100%;
}

#storep h3{
      text-align : left;
}

/*============  CONTACT ======================*/

input{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid #929292;
}

textarea{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid;
}

# contact h5{
  text-align: center;  
}

.bottom{ 
    display: block;
    background-color: forestgreen;
    text-decoration: none;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
        
}

/*============== MAIN ============================*/

#main{
    margin-top: 119px;
    background: url(images/Pine-Cres2019.jpg);
    background-repeat: repeat-y;  
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;  
}

 /*======================== INFO BOX ========================*/ 

a.info-box{
    text-decoration: none;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;  
}

.info-box img{
    height: 70px;
    margin: 10px;
    float: left;
}

.info-box h3{
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: #572800;   
}

.info-box p{
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}













